<!doctype html>
<html lang="zh-Hant-TW">
<head>
<title>Loading</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://tyroneyeh.github.io/SeatingChart/index.js"></script>
<style>
[v-cloak] {
    display: none;
}
.seat-cell {
    min-height: 26px;
    border: 1px solid gray;
    text-align: center;
}
.seat-name {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    height: 100px;
    padding: 3px;
}
.seat-container {
    cursor: move;
}
.seat-container.color-0 {
    background-color: #e0f7fa;
}
.seat-container.color-1 {
    background-color: #e8f5e9;
}
.seat-container.color-2 {
    background-color: #fffde7;
}
.seat-container[draggable="true"]:hover {
    background-color: #f8f9fa;
}
.seat-container.dragging {
    opacity: 0.5;
}
.input-sm {
    width: 60px;
    height: 24px;
}
.table-cell {
    text-align: center;
    white-space: nowrap;
    padding: 1px;
}
</style>
</head>
<body>
<div id="app" class="container-fluid" v-cloak>
    <div class="d-print-none card m-1">
        <!-- top area -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav m-auto">
                        <span class="nav-link" aria-current="page">{{ $gettext('Number of people') }}: <input type="number" style="width:60px" v-model.lazy="totalNamelist" min="1" ref="totalnums" @change="store" @focus="$event.target.select()"></span>
                        <span class="nav-link">{{ $gettext('Number of columns') }}: <input type="number" style="width:60px" v-model.lazy="totalX" min="1" :max="totalNamelist" ref="totalxs" @change="store" @focus="$event.target.select()"></span>
                        <span class="nav-link">{{ $gettext('Number of rows') }}: <input type="number" style="width:60px" v-model.lazy="totalY" min="1" :max="totalNamelist" ref="totalys" @change="store" @focus="$event.target.select()"></span>
                        <span class="nav-link">{{ $gettext('Number of leaders') }}: <input type="number" style="width:60px" v-model.lazy="totalLeader" min="1" :max="totalNamelist" ref="totalleaders" @change="store" @focus="$event.target.select()"></span>
                        <span class="nav-link"><button class="form-control-sm" @click="clearStore" v-if="storeData">{{ $gettext('Clear data') }}</button></span>
                        <span class="nav-link"><button class="form-control-sm" @click="download" v-if="storeData">{{ $gettext('Download data') }}</button></span>
                        <span class="nav-link"><input type="file" ref="uploadfile" @change="uploadfileChange" class="d-none" accept="application/json"><button class="form-control-sm" @click="uploadData">{{ $gettext('Upload data') }}</button></span>
                        <span class="nav-link"><button class="form-control-sm" @click="clearPos" :disabled="clearBtnCtl">{{ $gettext('Reset seats') }}</button></span>
                        <span class="nav-link"><button class="form-control-sm" @click="randomPos">{{ $gettext('Random seats') }}</button></span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="input-group-text m-auto" @click="tipsToHide" v-show="!hideTips">{{ $gettext('Please directly click on the name or seat number area to enter information') }}</div>

    </div>
    <div class="row m-auto" :class="xColClass">
        <div class="col-1"></div>
        <div class="text-center col-9 fs-4" @click="clickToEdit" ref="tabletitle">{{ $gettext('Seats charts') }}</div>
        <div class="col-1 align-self-end text-nowrap"><span @click="clickToEdit" ref="updateLabel">{{ $gettext('Update') }}</span>: <span @click="clickToEdit" ref="today">{{ new Date().toLocaleDateString() }} </span></div>
    </div>

    <div class="row col-sm-12 mx-auto" :class="xColClass">
        <div class="pt-1" :class="xColClassStart">
            <!-- left area -->
            <table class="table table-bordered table-striped small">
                <thead>
                    <tr class="border-secondary">
                        <th class="col-2 ps-2 py-1 border-end">
                            <input class="form-check-input d-print-none" type="checkbox" v-model="namesBgCtl">
                        </th>
                        <th class="col text-center text-nowrap py-1" @click="clickToEdit" ref="studentListLabel">
                            {{ $gettext('Student list') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(n, index) in totalNamelist" :key="index" @mouseover="showPos(n, 1)" @mouseout="showPos(n, 0)"
                        class="seat-container" :class="{'border-bottom border-secondary': (index + 1) % 5 === 0}" draggable="true" @dragstart="dragStartStudent(n, $event)">
                        <td class="text-center text-nowrap ps-0 pe-0 border-start border-end py-1">
                            <input class="form-check-input d-print-none" type="checkbox" ref="nameBgCtl" :checked="namesBgCtl">
                            {{ String(n).padStart(2, '0') }}
                        </td>
                        <td class="text-nowrap border-start border-end border-end py-1"
                            @click="clickToEdit($event, 'namelist', n)" ref="namelist"></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="ps-4 pb-3" :class="xColClassCenter">
            <!-- center area -->
            <div class="row flex-nowrap" v-for="y in totalY">
                <div class="col p-1" v-for="x in totalX">
                    <div class="col p-0 seat-container" :class="{ 'bg-warning': posdata[((y-1)*totalX + x-1)]?.innerText === highlightedPos }" @click="toggleColor" draggable="true" @dragstart="dragStart(((y-1)*totalX + x-1), $event)" @dragover.prevent @drop="drop(((y-1)*totalX + x-1), $event)">
                        <div class="col border text-center" @click="clickToEdit($event, 'posdata', x, y)" style="min-height:26px" ref="posdata"></div>
                        <div class="col border text-center w-100 p-3" style="height:100px"><span class="text-nowrap fs-5" style="-webkit-writing-mode:vertical-lr;writing-mode: vertical-lr" ref="posname"></span></div>
                    </div>
                </div>
            </div>
            <div class="row m-4">
                <div class="mx-auto text-center" style="border: 1px solid gray;" @click="clickToEdit" ref="deskname">{{ $gettext('Desk') }}</div>
            </div>
        </div>
        <div class="pt-1" :class="xColClassEnd">
            <!-- right area -->
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th style="text-align-last:justify" @click="clickToEdit" ref="teacherLabel">{{ $gettext('Teacher') }}</th>
                    <th colspan="2" class="w-50 text-center ps-0 pe-0 text-nowrap" @click="clickToEdit" ref="teacher"></th>
                </tr>
                </thead>
                <tr v-for="n in totalLeader" :key="n" class="leader-row" @dragover="dragOver" @drop="dropLeader(n-1, $event)">
                    <td class="text-end text-nowrap" style="text-align-last:justify" @click="clickToEdit($event, 'leadernames', n)" ref="leadernames">{{ leadernames[n - 1]?.innerText }}</td>
                    <td class="text-center" style="width:50px" @click="clickToEdit($event, 'leaders', n)" ref="leaders"></td>
                    <td class="text-nowrap" ref="leadersname">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
window.randomNumbers = [];
const { createApp, ref, reactive, watch } = Vue;

const app = createApp({
    setup() {

        const getCookie = (name) => {
            let value = '; ' + document.cookie;
            let parts = value.split(`; ${name}=`);
            if (parts.length == 2) return parts.pop().split(';').shift();
        };

        const setCookie = (name, value, age) => {
            age = undefined != age ? age : 60 * 60 * 24 * 14;
            document.cookie = `${name}=${value}; path=${location.pathname}; max-age=${age};`;
        };

        const removeCookie = (name, value) => {
            setCookie(name, value, 0);
        };

        const tipsToHide = () => {
            refs.hideTips.value = true;
            setCookie('hideTips', 1);
        };

        const updatedisplay = (o, num, pos) => {

            if ('posdata' == o && num && pos) {
                const no = storeRefs?.namelist[num - 1];
                if (no) {
                    refs.posname[pos].innerText = no.innerText;
                    !window.randomNumbers.includes(num) && window.randomNumbers.push(num);
                }
            } else if ('leaders' == o && num) {
                const no = storeRefs?.namelist[num - 1];
                no && (refs.leadersname[pos - 1].innerText = no.innerText);
            } else if (!o) {
                storeRefs.posdata.forEach((i, j) => {
                    refs.posname[j].innerText = '';
                    num = parseInt(i.innerText.trim());
                    if (!isNaN(num)) {
                        const no = storeRefs?.namelist[num - 1];
                        if (no) {
                            refs.posname[j].innerText = no.innerText;
                            !randomNumbers.includes(num) && randomNumbers.push(num);
                            refs.nameBgCtl[num - 1].checked = true;
                        }
                    }
                });

                storeRefs.leaders.forEach((i, j) => {
                    num = parseInt(i.innerText.trim());
                    if (!isNaN(num)) {
                        const no = storeRefs.namelist[num - 1];
                        no && (refs.leadersname[j].innerText = no.innerText);
                    }
                });
            }

        };

        const store = (o, num, pos) => {
            const datakeys = Object.keys(storeRefs);
            const tojson = {};
            datakeys.forEach((i) => {

                if (Array.isArray(storeRefs[i]))
                    tojson[i] = storeRefs[i].map((i) => { return i.innerText; });
                else if (storeRefs[i].value && storeRefs[i].value?.innerText && storeRefs[i].value?.innerText.trim().length)
                    tojson[i] = storeRefs[i].value.innerText;
                else if (storeRefs[i].value && storeRefs[i].value > 0)
                    tojson[i] = storeRefs[i].value;

            });

            localStorage.setItem('data', JSON.stringify(tojson));
            updatedisplay(o, num, pos);

        };

        const clearStore = () => {
            if (!confirm($gettext("Are you sure you want to clear all entered data?")))
                return;

            localStorage.removeItem('data');
            location.reload();
        };

        const clearPos = () => {
            if (!confirm($gettext("Are you sure you want to clear your current seating arrangement?")))
                return;

            storeRefs.posdata.forEach((i) => { if (i) i.innerText = ''; });
            store();
            location.reload();
        };

        const clickToEdit = (event, o, n, y) => {
            const editInput = event?.target;

            if (!editInput)
                return;

            const hasFS4Class = editInput.classList.value.includes('fs-4');
            editInput.classList.remove('fs-4');
            const inputElement = document.createElement('input');
            inputElement.classList.add('from-control-sm');
            inputElement.setAttribute('type', 'text');
            if (['posdata', 'leaders'].includes(o)) {
                inputElement.setAttribute('type', 'number');
                inputElement.setAttribute('min', 1);
                inputElement.setAttribute('max', storeRefs.totalNamelist.value);
            }

            inputElement.style.width = "100%";
            inputElement.style.minWidth = '50px';
            inputElement.style.height = "24px";
            inputElement.value = editInput.innerText.trim();

            window.randomNumbers = window.randomNumbers.filter(e => e != parseInt(inputElement.value));
            const num = parseInt(inputElement.value);
            if ('posdata' == o && num)
                refs.nameBgCtl[num - 1].checked = false;

            editInput.innerHTML = '';
            editInput.appendChild(inputElement);

            const blurFunc = (o, n, y, hasFS4Class) => {
                const num = parseInt(inputElement.value);
                let pos = n;
                if (['posdata', 'leaders'].includes(o) && !isNaN(num)) {
                    if (num > storeRefs.totalNamelist.value) {
                        editInput.innerText = '';
                        return;
                    }
                    if ('posdata' == o) {
                        if (!isNaN(n) && !isNaN(y)) {
                            pos = ((y - 1) * storeRefs.totalX.value + n) - 1;
                        }
                        if (randomNumbers.includes(num)) {
                            alert($gettext('Seat assigned'));
                            editInput.innerText = '';
                            setTimeout(() => {
                                const targetEl = storeRefs[o][((y - 1) * storeRefs.totalX.value + n) - 1];
                                if (targetEl) targetEl.click();
                            }, 50);
                            return;
                        }
                        num && (refs.nameBgCtl[num - 1].checked = true);
                    }
                    editInput.innerText = String(inputElement.value).padStart(2, '0');
                } else {
                    hasFS4Class && editInput.classList.add('fs-4');
                    editInput.innerText = inputElement.value;
                }

                store(o, num, pos);
                refs.storeData.value = 1;
            };

            inputElement.addEventListener('blur', () => blurFunc(o, n, y, hasFS4Class));

            inputElement.addEventListener('keydown', (e) => {
                if (undefined == n) return;
                if ((e.shiftKey && 'Tab' == e.key) || (e.shiftKey && 'Enter' == e.key) || ('ArrowUp' == e.key && !y)) {
                    e.preventDefault();
                    if (y)
                        storeRefs[o][((y - 1) * storeRefs.totalX.value + n) - 2]?.click();
                    else
                        storeRefs[o][n - 2]?.click();
                } else if (['Enter', 'Tab'].includes(e.key) || ('ArrowDown' == e.key && !y)) {
                    e.preventDefault();
                    if (y)
                        storeRefs[o][(y - 1) * storeRefs.totalX.value + n]?.click();
                    else if (['leadernames', 'leaders'].includes(o) && storeRefs.totalLeader.value <= storeRefs.leadernames.length && n == storeRefs.leadernames.length)
                        storeRefs.totalLeader.value++;
                    else if ('namelist' == o && storeRefs.totalNamelist.value <= storeRefs[o].length && n == storeRefs.totalNamelist.value)
                        storeRefs.totalNamelist.value++;

                    if (['namelist', 'leadernames', 'leaders'].includes(o) && undefined != storeRefs[o])
                        setTimeout(() => {
                            if (storeRefs[o][n]) storeRefs[o][n].click();
                        }, 50);
                } else if (e.shiftKey && 'Tab' == e.key && y || 'ArrowLeft' == e.key) {
                    e.preventDefault();
                    storeRefs[o][((y - 1) * storeRefs.totalX.value + n) - 2]?.click();
                } else if (['Enter', 'Tab'].includes(e.key) && y || 'ArrowRight' == e.key) {
                    e.preventDefault();
                    storeRefs[o][(y - 1) * storeRefs.totalX.value + n]?.click();
                } else if ('Backspace' == e.key) {
                    switch(o) {
                    case 'namelist':
                    case 'leadernames':
                    case 'leaders':
                        if (!e.target.value.length && !storeRefs[o][n - 1]?.innerText.trim().length) {
                            e.preventDefault();
                            const totalObj = storeRefs['total'+ o.charAt(0).toUpperCase() + o.slice(1)];
                            if (totalObj && n == totalObj.value)
                                totalObj.value--;
                            else if (n == storeRefs.totalLeader.value)
                                storeRefs.totalLeader.value--;

                            setTimeout(() => {
                                storeRefs[o][n - 2]?.click();
                            }, 50);
                        }
                        break;
                    case 'posdata':
                        if (!e.target.value.length) {
                            e.preventDefault();
                            storeRefs[o][((y - 1) * storeRefs.totalX.value + n) - 2]?.click();
                        }
                    }
                }

            });

function splitTextWithNameList(text, specialNames = ['林 芸', 'A B', 'あ い']) {
  let currentText = text;
  // 保護特殊名字中的空格
  for (const name of specialNames) {
    const escapedName = name.replace(/\s/g, '\\s');
    const regex = new RegExp(`\\b${escapedName}\\b`, 'g');
    currentText = currentText.replace(regex, match => match.replace(/\s/g, '_'));
  }
  
  // 分割並還原
  const regex = /[\s\n\t,]+/;
  const result = currentText.split(regex)
    .filter(segment => segment.length > 0)
    .map(segment => segment.replace(/_/g, ' '))
    .filter(segment => segment.length >= 2);
  
  return result;
}

            const pasteNameImport = (o, n, event) => {
                const pasteData = splitTextWithNameList(event.clipboardData.getData('text').trim());
                if (pasteData?.length) {
                    event.preventDefault();
                    storeRefs[o][n - 1].innerText = pasteData[0];
                    pasteData.forEach((i, j) => {
                        const nobj = storeRefs[o][n - 1 + j];
                        if (nobj) {
                            nobj.innerText = i.replace(/(['"])(.*?)\1/g, '$2').trim();
                        }
                    });
                    store();
                }
            };

            inputElement.addEventListener('paste', (event) => pasteNameImport(o, n, event));

            inputElement.focus();

        };

        const download = () => {
            let data = localStorage.getItem('data');

            if (data) {
                const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(data);
                const dlAnchorElem = document.createElement('a');
                dlAnchorElem.setAttribute("href", dataStr);
                dlAnchorElem.setAttribute("download", "seatingchart.json");
                document.body.appendChild(dlAnchorElem);
                dlAnchorElem.click();
                document.body.removeChild(dlAnchorElem);
            }
        };

        const uploadData = () => {
            if (refs.uploadfile.value) {
                refs.uploadfile.value.click();
            }
        };

        const randomPos = () => {
            let rNum, i, studentNums;
            // Ensure namelist is not empty and has valid elements
            for (i = storeRefs.totalNamelist.value; i > 0; i--) {
                if (
                    storeRefs.namelist[i - 1] &&
                    typeof storeRefs.namelist[i - 1].innerText === 'string' &&
                    storeRefs.namelist[i - 1].innerText.trim().length
                ) break;
            }

            if (i <= window.randomNumbers.length) return;

            studentNums = Array.from({length: i}, (_, index) => 1 + index);
            if (window.randomNumbers.length)
                studentNums = studentNums.filter(num => !window.randomNumbers.includes(num));

            const posdatas = storeRefs.posdata.slice().reverse();
            for (let j = 0; j < posdatas.length; j++) {
                if (!posdatas[j].innerText.length) {
                    rNum = Math.floor(Math.random() * studentNums.length);
                    // Check for valid index and valid namelist entry
                    if (
                        storeRefs.namelist[studentNums[rNum] - 1] &&
                        typeof storeRefs.namelist[studentNums[rNum] - 1].innerText === 'string' &&
                        storeRefs.namelist[studentNums[rNum] - 1].innerText.trim().length
                    ) {
                        posdatas[j].innerText = String(studentNums[rNum]).padStart(2, '0');
                    } else {
                        j--;
                    }

                    studentNums.splice(studentNums.indexOf(studentNums[rNum]), 1);
                    if (!studentNums.length) break;
                }
            }

            store();
            refs.clearBtnCtl.value = !randomNumbers.length;
        };

        const uploadfileChange = () => {
            const fileInput = refs.uploadfile.value;
            if (!fileInput || !fileInput.files || !fileInput.files[0]) return;
            const reader = new FileReader();
            reader.readAsText(fileInput.files[0], "UTF-8");
            reader.onload = (evt) => {
                localStorage.setItem('data', evt.target.result);
                location.reload();
            }
        };

        const showPos = (n, show) => {
            const seatNumber = String(n).padStart(2, '0');
            refs.highlightedPos.value = show ? seatNumber : null;
        };

        const dragStart = (index, event) => {
            event.dataTransfer.setData('text/plain', JSON.stringify({ type: 'seat', index: index }));
            event.target.classList.add('dragging');
        };

        const dragStartStudent = (studentNumber, event) => {
            event.dataTransfer.setData('text/plain', JSON.stringify({ type: 'student', number: studentNumber }));
            event.target.classList.add('dragging', 'student-row');
        };

        const dragOver = (event) => {
            event.preventDefault();
            const target = event.target.closest('.seat-container, .leader-row');
            if (target) target.classList.add('drag-over');
        };

        const drop = (targetIndex, event) => {
            event.preventDefault();
            const data = JSON.parse(event.dataTransfer.getData('text/plain') || '{}');
            const targetNum = parseInt(storeRefs.posdata[targetIndex]?.innerText || '');

            if (data.type === 'student') {
                const studentNumber = parseInt(data.number);
                if (studentNumber < 1 || studentNumber > storeRefs.totalNamelist.value) return;
                if (window.randomNumbers.includes(studentNumber)) {
                    alert($gettext('Seat assigned'));
                    return;
                }
                if (targetNum) {
                    window.randomNumbers = window.randomNumbers.filter(num => num !== targetNum);
                    refs.nameBgCtl[targetNum - 1].checked = false;
                }
                if (storeRefs.posdata[targetIndex]) {
                    storeRefs.posdata[targetIndex].innerText = String(studentNumber).padStart(2, '0');
                    !window.randomNumbers.includes(studentNumber) && window.randomNumbers.push(studentNumber);
                    refs.nameBgCtl[studentNumber - 1].checked = true;
                }
            } else if (data.type === 'seat') {
                const sourceIndex = parseInt(data.index);
                if (sourceIndex === targetIndex) return;
                const sourceNum = parseInt(storeRefs.posdata[sourceIndex]?.innerText || '');
                if (storeRefs.posdata[sourceIndex]) {
                    storeRefs.posdata[sourceIndex].innerText = targetNum ? String(targetNum).padStart(2, '0') : '';
                }
                if (storeRefs.posdata[targetIndex]) {
                    storeRefs.posdata[targetIndex].innerText = sourceNum ? String(sourceNum).padStart(2, '0') : '';
                }
                if (sourceNum && !window.randomNumbers.includes(sourceNum)) window.randomNumbers.push(sourceNum);
                if (targetNum && !window.randomNumbers.includes(targetNum)) window.randomNumbers.push(targetNum);
                if (!sourceNum || !targetNum) {
                    window.randomNumbers = window.randomNumbers.filter(num => storeRefs.posdata.some(el => parseInt(el.innerText || '') === num));
                }
                if (sourceNum) refs.nameBgCtl[sourceNum - 1].checked = true;
                if (targetNum) refs.nameBgCtl[targetNum - 1].checked = true;
            }

            document.querySelectorAll('.seat-container, .student-row').forEach(el => el.classList.remove('dragging', 'student-row'));
            store();
            updatedisplay();
        };

        const dropLeader = (targetIndex, event) => {
            event.preventDefault();
            const data = JSON.parse(event.dataTransfer.getData('text/plain') || '{}');
            if (data.type !== 'student') return;
            const studentNumber = parseInt(data.number);
            if (studentNumber < 1 || studentNumber > storeRefs.totalNamelist.value) return;

            const targetNum = parseInt(storeRefs.leaders[targetIndex]?.innerText || '');
            if (storeRefs.leaders[targetIndex]) {
                storeRefs.leaders[targetIndex].innerText = String(studentNumber).padStart(2, '0');
            }
            document.querySelectorAll('.seat-container, .student-row, .leader-row').forEach(el => el.classList.remove('dragging', 'student-row', 'drag-over'));
            store();
            updatedisplay();
        };

        const toggleColor = (event) => {
            const colors = ['color-0', 'color-1', 'color-2'];
            const el = event.currentTarget;
            let currentIndex = colors.findIndex(c => el.classList.contains(c));
            if (currentIndex === -1) {
                el.classList.add(colors[0]);
                return;
            }
            el.classList.remove(colors[currentIndex]);
            if (currentIndex === colors.length - 1) {
                return;
            }
            el.classList.add(colors[currentIndex + 1]);
        };

        const storeRefs = {
            tabletitle: ref($gettext('Seats charts')),
            today: ref(new Date().toLocaleDateString()),
            totalNamelist: ref(40),
            totalX: ref(6),
            totalY: ref(8),
            totalLeader: ref(8),
            namelist: reactive([]),
            posdata: reactive([]),
            teacher: ref(null),
            leadernames: reactive([]),
            leaders: reactive([]),
            deskname: ref($gettext('Desk')),
            updateLabel: ref($gettext('Update')),
            teacherLabel: ref($gettext('Teacher')),
            studentListLabel: ref($gettext('Student list'))
        };

        watch([storeRefs.totalNamelist, storeRefs.totalX, storeRefs.totalY], async(_, oldValues) => {
            if (storeRefs.totalX.value * storeRefs.totalY.value < storeRefs.totalNamelist.value) {
                storeRefs.totalNamelist.value = oldValues[0];
                storeRefs.totalX.value = oldValues[1];
                storeRefs.totalY.value = oldValues[2];
                alert($gettext('Not enough seats!'));
            }
            if (storeRefs.totalX.value > storeRefs.totalNamelist.value)
                storeRefs.totalX.value = Math.max(1, Math.floor(storeRefs.totalNamelist.value / storeRefs.totalY.value));
            else if (storeRefs.totalY.value > storeRefs.totalNamelist.value)
                storeRefs.totalY.value = Math.max(1, Math.floor(storeRefs.totalNamelist.value / storeRefs.totalX.value));
        });

        watch(storeRefs.totalX, async(i) => {
            if (i > 6) {
                refs.xColClass.value = 'col-lg-12 col-md-12';
                refs.xColClassStart.value = 'col-1';
                refs.xColClassCenter.value = 'col-9';
                refs.xColClassEnd.value = 'col-2';
            } else {
                refs.xColClass.value = 'col-lg-8';
                refs.xColClassStart.value = 'col-2 col-md-2';
                refs.xColClassCenter.value = 'col-7';
                refs.xColClassEnd.value = 'col-3';
            }
        });

        const refs = {
            uploadfile: ref(null),
            storeData: ref(0),
            xColClass: ref('col-xl-7 col-md-12'),
            xColClassStart: ref('col-2 col-md-2'),
            xColClassCenter: ref('col-7'),
            xColClassEnd: ref('col-3'),
            posname: reactive([]),
            posindex: ref(0),
            leadersname: reactive([]),
            clearBtnCtl: ref(0),
            isDataChanged: ref(0),
            namesBgCtl: ref(0),
            nameBgCtl: reactive([]),
            hideTips: ref(false),
            highlightedPos: ref(null)
        };

        return {
            ...storeRefs,
            ...refs,
            clickToEdit,
            store,
            clearStore,
            download,
            uploadData,
            randomPos,
            clearPos,
            uploadfileChange,
            updatedisplay,
            tipsToHide,
            getCookie,
            showPos,
            dragStart,
            dragStartStudent,
            dragOver,
            drop,
            dropLeader,
            toggleColor
        };
    },
    beforeCreate() {
        window.data = localStorage.getItem('data');
        if (window.data) {
            window.data = JSON.parse(window.data);
            window.dkeys = Object.keys(window.data);
            window.dkeys.forEach((i) => {
                if ('tabletitle' == i)
                    document.title = window.data[i];
                else if ('today' == i)
                    this.today = window.data[i];
                else if ('totalNamelist' == i)
                    this.totalNamelist = parseInt(window.data[i]);
                else if ('totalX' == i)
                    this.totalX = parseInt(window.data[i]);
                else if ('totalY' == i)
                    this.totalY = parseInt(window.data[i]);
                else if ('totalLeader' == i)
                    this.totalLeader = parseInt(window.data[i]);

            });
        }
        this.hideTips = this.getCookie('hideTips') == 1;

    },
    mounted() {

        if (document.title == 'Loading') document.title = $gettext('Seats charts');

        if (this.leadernames) {
            if (this.leadernames[0] && !this.leadernames[0].innerText.length) this.leadernames[0].innerText = $gettext('Class president');
            if (this.leadernames[1] && !this.leadernames[1].innerText.length) this.leadernames[1].innerText = $gettext('Vice class president');
        }
        const data = window.data;
        const dkeys = window.dkeys;
        if (data) {
            dkeys.forEach((i) => {
                if (Array.isArray(data[i]) && data[i][0] != null) {
                    data[i].forEach((_, j) => {
                        if (this[i] && undefined != this[i][j]?.innerText)
                            this[i][j].innerText = data[i][j];
                    });
                } else if (undefined != this[i]?.innerText)
                    this[i].innerText = data[i];
                else if (undefined != this[i]?.value)
                    this[i].value = data[i];

            });

            this.updatedisplay();
            this.storeData = 1;
            this.clearBtnCtl = !window.randomNumbers.length;
        }
    }

});

const vue3gettext = createGettext({
    availableLanguages: {
        en: "English",
        zh_TW: "Chinese"
    },
    silent: true,
    defaultLanguage: navigator.language.replace(/-/, '_'),
    translations: { "zh_TW": { "Seat assigned": "已排位子", "Are you sure you want to clear all entered data?": "確定要清除全部輸入的資料嗎?", "Are you sure you want to clear your current seating arrangement?": "確定要清除目前的座位排列嗎?", "Class president": "班長", "Clear data": "清除資料", "Desk": "講桌", "Download data": "下載資料", "Not enough seats!": "座位數不夠坐!", "Number of columns": "排數", "Number of leaders": "股長數", "Number of people": "全班人數", "Number of rows": "列數", "Please directly click on the name or seat number area to enter information": "請直接點選姓名或座號區域輸入資料", "Random seats": "隨機座位", "Reset seats": "重置座位", "Seats charts": "座位表", "Student list": "班級名條", "Teacher": "導師", "Update": "更新日期", "Upload data": "上傳資料", "Vice class president": "副班長" } }

});

window.$gettext = vue3gettext.$gettext;

app.use(vue3gettext).mount('#app');

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>

</body>
</html>
